Repository ahmed-saber/shopapotheke: changes, and which lint-staged commands are due for each by the changed paths.
All: pretty-quick --staged, eslint --fix

.lintstagedrc:

{
    "*.{js,jsx,css,scss}": "pretty-quick --staged",
    "*.{js,jsx}": "eslint --fix",
}

Add style lint config file
  .stylelintrc.json
Due: none

Install dev dependencies to enhance code readability
  package-lock.json
  package.json
Due: none

Add the pre commit for husky
  .husky/pre-commit
Due: none

Add tsx ext to files needs to be checked
  .lintstagedrc
Due: none

Add typescript parser
  .eslintrc.json
Due: none

Add typescript parser and eslint plugin
  package.json
Due: none

Format the code
  tsconfig.json
Due: none

Use pnpm instead of npm
  .husky/pre-commit
  package-lock.json
  pnpm-lock.yaml
Due: none

Remove browserslist from package.json file
  package.json
Due: none

Add the wrapper for the APIS
  src/services/apis/apiHandler.tsx
Due: none

Remove web-vitals dependency
  package.json
  pnpm-lock.yaml
  src/index.tsx
  src/reportWebVitals.ts
Due: none

Add support for sass
  package.json
  pnpm-lock.yaml
Due: none

Restructure the files
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/modules/header/header.tsx
  src/pages/home.tsx
  src/styles/global.scss
Due: pretty-quick --staged

Install normalize.css and typesscript css modules
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

Add the header styles
  src/modules/header/header.module.scss
  src/modules/header/header.tsx
  src/pages/home.tsx
  src/styles/app.scss
  src/styles/fonts.scss
  src/styles/fonts/open-sans-v27-latin/open-sans-v27-latin-regular.eot
  src/styles/fonts/open-sans-v27-latin/open-sans-v27-latin-regular.svg
  src/styles/fonts/open-sans-v27-latin/open-sans-v27-latin-regular.ttf
  src/styles/fonts/open-sans-v27-latin/open-sans-v27-latin-regular.woff
  src/styles/fonts/open-sans-v27-latin/open-sans-v27-latin-regular.woff2
  src/styles/global.scss
Due: pretty-quick --staged

Install redux, redux saga and types
  package.json
  pnpm-lock.yaml
Due: none

Update the readme file
  README.md
Due: none

Add the store using redux saga
  src/index.tsx
  src/redux/store.ts
Due: none

Add new types
  src/types/github.ts
Due: none

Add new action to get the repos
  src/redux/actions/githubRepositories.ts
Due: none

Add new constants to get github repos
  src/redux/constants/githubRepositories.ts
Due: none

The apis file for github calles
  src/services/apis/github.tsx
Due: none

Function to return the last week
  src/services/utils.ts
Due: none

Add the watcher to catch the action calles
  src/redux/watchers/watch_github_repositories.ts
Due: none

repositories reducer
  src/redux/reducers/repositories.ts
Due: none

use the repositories reducer
  src/redux/combineReducers/homeReducer.ts
Due: none

Watch for the action calles
  src/redux/sagas/homeSagas.jsx
Due: pretty-quick --staged, eslint --fix

Create container to hold the logic
  src/containers/home/githubRepositoriesCont.tsx
  src/pages/home.tsx
Due: none

Export types
  src/types/github.ts
Due: none

Style the cards and create types
  src/containers/home/githubRepositoriesCont.tsx
  src/modules/githubRepositories/githubRepositories.module.scss
  src/modules/githubRepositories/githubRepositories.tsx
  src/modules/githubRepositories/githubRepositoriesTypes.ts
  src/modules/githubRepositoriesHolder/githubRepositoriesHolder.module.scss
  src/modules/githubRepositoriesHolder/githubRepositoriesHolder.tsx
Due: pretty-quick --staged

Rename the file
  src/containers/home/githubRepositoriesCont.tsx
  src/modules/githubRepositoriesCard/githubRepositoriesCard.module.scss
  src/modules/githubRepositoriesCard/githubRepositoriesCard.tsx
  src/modules/githubRepositoriesCard/githubRepositoriesCardTypes.ts
Due: pretty-quick --staged

Add react starts library
  package.json
  pnpm-lock.yaml
Due: none

Change the header space
  src/modules/header/header.module.scss
Due: pretty-quick --staged

Add the star holder area inside the card
  src/modules/githubRepositoriesCard/githubRepositoriesCard.tsx
  src/modules/githubRepositoriesCard/githubRepositoriesCardTypes.ts
Due: none

Create the filter module
  src/modules/githubRepositoriesFilters/githubRepositoriesFilters.module.scss
  src/modules/githubRepositoriesFilters/githubRepositoriesFilters.tsx
  src/modules/githubRepositoriesFilters/githubRepositoriesFiltersTypes.ts
Due: pretty-quick --staged

Add more space around the container
  src/modules/githubRepositoriesHolder/githubRepositoriesHolder.module.scss
Due: pretty-quick --staged

Add the store libarary to manage the storage
  package.json
  pnpm-lock.yaml
Due: none

Add the star functionality
  src/containers/home/githubRepositoriesCont.tsx
  src/services/github/index.ts
Due: none

Style the home page
  src/containers/home/githubRepositoriesCont.tsx
  src/modules/githubRepositoriesCard/githubRepositoriesCard.module.scss
  src/modules/githubRepositoriesCard/githubRepositoriesCard.tsx
  src/modules/githubRepositoriesCard/githubRepositoriesCardTypes.ts
  src/modules/githubRepositoriesFilters/githubRepositoriesFilters.module.scss
  src/modules/githubRepositoriesHolder/githubRepositoriesHolder.module.scss
Due: pretty-quick --staged
